/* searchListComponent's private CSS styles */

body {
    background: #509e2f;
}


.searchList {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }


  .searchList li {

    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 3em;
    border-radius: 4px;
}

.searchList li span {
    height: 3.5em;
}

.searchList li:hover {
    color:orange;
    background-color: #DDD;
    left: .1em;
}

.searchList li.selected {
    background-color: red;
    color: white;
}

.searchList li.selected:hover {
    background-color: #BBD8DC;
    color: white;
}

.searchList .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

.searchList .badge:visited {
    color: red;
}

.h2{
    display: flex;
  justify-content: space-between;
  align-items: center;
}


ul
{
    float:left;
    margin:0 5px;
} 

.button {
    background-color: #555555; /* Black */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }